# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# build
# /dist/

# Editor directories and files
.vscode
.idea
/idea/
.settings/
.project
.classpath
*.ipr
*.iml
*.iws
*.suo
*.ntvs*
*.njsproj
*.sln

# system
.DS_Store
Thumbs.db

*.tmp
*.log
*.cache
*.diff
*.patch
